#fruit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fruit-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fruit-container h2 {
    font-size: 2em;
}

#fruit-container img{
    width: 200px;
    height: 200px;
}